// bower:scss
// endbower

$spaceW: 28;
$planetW: $spaceW * 0.7;
$spaceBorderW: 1;

body {
    color: #333;
    background: #fafafa;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


.universe {
    display: block;

    background-color: #000;
}
.singularity {
    display: block;
    overflow: hidden;

    width: $spaceW + ($spaceBorderW * 2) + px;
    height: 0;
}


.space {
    position: relative;

    display: inline-block;

    width: $spaceW + px;
    height: $spaceW + px;

    text-align: center;
    vertical-align: middle;

    border: ($spaceBorderW + px) solid #333;
    background-color: #000;
}
.planet {
    display: inline-block;

    width: $planetW + px;
    height: $planetW + px;
    margin-top: ($spaceW - $planetW)/2 + px;

    border-radius: $planetW + px;
    background-color: #234ad6;
}
.planet-name {
    position: absolute;
    top: 0;
    left: 0;

    color: #fff;

    font-size: 9px;
}


.player_0 {
    background-color: #f00;
}
.player_1 {
    background-color: #ff0;
}
.player_2 {
    background-color: #f0f;
}
.player_3 {
    background-color: #0f0;
}
.player_4 {
    background-color: #0ff;
}
.player_5 {
    background-color: #00f;
}
