// bower:scss
// endbower

$spaceW: 36;
$planetW: $spaceW * 0.7;
$spaceBorderW: 1;

@font-face {
    font-family: '52_sphereoidsregular';
    font-weight: normal;
    font-style: normal;

    src: url('fonts/52_sphereoids-webfont.eot');
    src: url('fonts/52_sphereoids-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/52_sphereoids-webfont.woff2') format('woff2'),
         url('fonts/52_sphereoids-webfont.woff') format('woff'),
         url('fonts/52_sphereoids-webfont.ttf') format('truetype'),
         url('fonts/52_sphereoids-webfont.svg#52_sphereoidsregular') format('svg');
}

body {
    color: #333;
    background: #fafafa;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


.universe {
    display: block;

    background-color: #000;
}
.singularity {
    display: block;
    overflow: hidden;

    width: $spaceW + ($spaceBorderW * 2) + px;
    height: 0;
}


.space {
    position: relative;

    display: inline-block;

    width: $spaceW + px;
    height: $spaceW + px;

    text-align: center;
    vertical-align: middle;

    border: ($spaceBorderW + px) solid #333;
    background-color: #000;
}
.planet {
    display: inline-block;

    margin-top: ($spaceW - $planetW)/2 + px;
}
.planet-body {
    color: brown;
    border-radius: $planetW + px;

    font-family: "52_sphereoidsregular";
    font-size: $planetW + px;
    font-weight: bold;
}
.planet-name {
    position: absolute;
    top: 0;
    left: 0;

    color: #fff;
    text-shadow: 1px 1px 2px black;

    font-size: 14px;
}
.planet-ships {
    position: absolute;
    right: 0;
    bottom: 0;

    color: #fff;
    text-shadow: 1px 1px 2px black;

    font-size: 14px;
}


.player_0 {
    background-color: rgba(191, 11, 41, 0.7);
}
.player_1 {
    background-color: rgba(196, 243, 255, 0.7);
}
.player_2 {
    background-color: rgba(84, 234, 184, 0.7);
}
.player_3 {
    background-color: rgba(244, 190, 73, 0.7);
}
.player_4 {
    background-color: rgba(122, 108, 204, 0.7);
}
.player_5 {
    background-color: rgba(176, 25, 193, 0.7);
}
