body {
    margin: 20px;

    color: #333;
    background: #fafafa;

    font: 14px "Century Gothic", Futura, sans-serif;
}

.App {
    text-align: center;
}

.game {
    justify-content: center;
}
.galaxy_row {
    height: 34px;
}
