body {
    margin: 20px;

    color: #333;
    background: #fafafa;

    font: 14px "Century Gothic", Futura, sans-serif;
}

.App {
    text-align: center;
}

.game {
    display: flex;
    flex-direction: row;

    justify-content: center;
}
